{
    "presets": ["env", "react"],
    "env": {
        "development": {
            "plugins": [
                ["react-transform", {
                    "transform": [{
                        "transform": "react-transform-hmr",
                        "imports": ["react"],
                        "local": ["module"]
                    }]
                }]
            ]
        }
    }
}